@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");
@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:400,900|Source+Sans+Pro:300,900&display=swap");
/* table of contents

    1. global styles

    2. typography
    
    3. layout

    4. components

    5. animations

*/
/*  ==========
    variables
    ============    */
:root {
  --ff-primary: 'Source Sans Pro', sans-serif;
  --ff-secondary: 'PT Sans', monospace;
  --fw-reg: 300;
  --fw-bold: 900;
  --clr-light: #fff5e1;
  --clr-light-secondary: #fdf3de;
  --clr-dark: #333333;
  --clr-darker: #111;
  --clr-accent: #E5957A;
  --clr-accent-secondary: #80003A;
  --fs-h1: 3rem;
  --fs-h2: 2.25rem;
  --fs-h3: 1.25rem;
  --fs-body: 1rem;
  --bs: 0.125em 0.125em 0.25em rgba(0, 0, 0, .15);
}

@media (min-width: 800px) {
  :root {
    --fs-h1: 4.5rem;
    --fs-h2: 3.75rem;
    --fs-h3: 1.5rem;
    --fs-body: 1.125rem;
  }
}

/*  ==========
    1. global styles
    ============    */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow: visible;
  overflow-x: hidden;
  background: var(--clr-light);
  color: var(--clr-dark);
  margin: 0;
  font-family: var(--ff-secondary);
  font-size: var(--fs-body);
  line-height: 1.6;
}

:focus {
  outline: 3px solid var(--clr-accent);
  outline-offset: 2px;
}

/*  ==========
    2. typography
    ============    */
h1,
h2,
h3 {
  line-height: 1;
  margin: 0;
}

h1 {
  font-size: var(--fs-h1);
}

h2 {
  font-size: var(--fs-h2);
}

h3 {
  font-size: var(--fs-h3);
}

strong {
  font-weight: var(--fw-bold);
}

/*  ==========
    3. layout
    ============    */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1em;
}

section {
  padding: 5em 2em;
}

.footer {
  background: var(--clr-darker);
  color: var(--clr-accent);
  text-align: center;
  padding: 2.5em 0;
  font-size: var(--fs-h3);
}

/*  ==========
    4. components
    ============    */
/*  4.1 borders   */
.border-gradient-top {
  border-top: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, var(--clr-accent-secondary), var(--clr-accent));
}

.border-gradient-bottom {
  border-bottom: 1px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(to left, var(--clr-accent-secondary), var(--clr-accent));
}

/*  4.2 buttons     */
button {
  cursor: pointer;
}

.btn {
  display: inline-block;
  padding: .5em 2.5em;
  background: var(--clr-accent);
  color: var(--clr-dark);
  text-decoration: none;
  cursor: pointer;
  font-size: .8rem;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: var(--fw-bold);
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
}

.btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.view-site {
  padding-left: 1em;
  padding-right: 1em;
}

.view-site i {
  margin-left: 5px;
}

/*  4.3 images      */
img {
  display: block;
  max-width: 100%;
}

.section__title {
  margin-bottom: .25em;
  font-family: var(--ff-secondary);
}

.section__title--intro {
  font-weight: var(--fw-reg);
}

.section__title--intro strong {
  display: block;
}

.section__subtitle {
  margin: 0;
  font-size: var(--fs-h3);
}

.section__subtitle--intro,
.section__subtitle--about {
  background: var(--clr-accent);
  padding: .25em 1em;
  font-family: var(--ff-secondary);
  margin-bottom: 1em;
}

.section__subtitle--work {
  color: var(--clr-accent);
  font-weight: var(--fw-bold);
  margin-bottom: 2em;
}

.logo {
  max-width: 100px;
}

.nav {
  position: fixed;
  background: var(--clr-dark);
  color: var(--clr-light);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
  transition: -webkit-transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
  transition: transform 250ms cubic-bezier(0.5, 0, 0.5, 1), -webkit-transform 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.nav__list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
  padding: 0;
}

.nav__link {
  color: inherit;
  font-weight: var(--fw-bold);
  font-size: var(--fs-h2);
  font-family: var(--ff-secondary);
  text-decoration: none;
}

.nav__item {
  height: 15%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nav__item:first-child {
  border-top: 0;
}

.nav__link:hover {
  color: var(--clr-accent);
}

.nav-toggle {
  padding: .5em;
  background: transparent;
  border: 0;
  cursor: pointer;
  position: absolute;
  right: 1em;
  top: 1em;
  z-index: 1000;
}

.nav-open .nav {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav-open .nav-toggle {
  position: fixed;
}

.nav-open .hamburger {
  -webkit-transform: rotate(0.625turn);
          transform: rotate(0.625turn);
}

.nav-open .hamburger::before {
  -webkit-transform: rotate(90deg) translateX(-6px);
          transform: rotate(90deg) translateX(-6px);
}

.nav-open .hamburger::after {
  opacity: 0;
}

.hamburger {
  display: block;
  position: relative;
}

.hamburger,
.hamburger::before,
.hamburger::after {
  background: var(--clr-accent);
  width: 2em;
  height: 3px;
  border-radius: 1em;
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}

.hamburger::before,
.hamburger::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
}

.hamburger::before {
  top: 6px;
}

.hamburger::after {
  bottom: 6px;
}

@media (min-width: 600px) {
  .nav::before {
    content: "";
    background-image: url(../img/hexagon-logo.png);
    background-size: cover;
    position: absolute;
    left: 0;
    height: 100%;
    width: 50px;
    opacity: .4;
  }
  .nav::after {
    content: "";
    background-image: url(../img/hexagon-logo.png);
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 50px;
    opacity: .4;
    -webkit-transform: scaleX(-1);
            transform: scaleX(-1);
  }
  .nav-toggle {
    visibility: hidden;
  }
  .nav {
    padding-left: 4rem;
    bottom: auto;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    border-width: 2px;
  }
  .nav__list {
    list-style: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    -webkit-box-pack: initial;
        -ms-flex-pack: initial;
            justify-content: initial;
  }
  .nav__item {
    margin-left: 2em;
    border-top: 0;
  }
  .nav__link {
    font-family: var(--ff-secondary);
    font-weight: var(--fw-reg);
    font-size: var(--fs-h3);
  }
  .nav__item a {
    display: block;
    text-align: center;
  }
  .nav__item a::before {
    content: "";
    height: 3px;
    display: block;
    border-top: 3px solid var(--clr-accent);
    -webkit-transition: .5s all ease-out;
    transition: .5s all ease-out;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
  }
  .nav__item a:focus {
    outline: none;
  }
  .active a::before {
    content: "";
    display: block;
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
  }
}

/* Scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #2B2D2D;
}

::-webkit-scrollbar-thumb {
  background: #555757;
}

::-webkit-scrollbar-thumb:hover {
  background: #5F6364;
}

/* Intro Section */
.intro {
  position: relative;
}

.intro__img {
  -webkit-filter: drop-shadow(var(--bs));
          filter: drop-shadow(var(--bs));
}

@media (min-width: 600px) {
  .intro {
    display: -ms-grid;
    display: grid;
    width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    margin-bottom: 0 auto;
    -webkit-column-gap: 1em;
            column-gap: 1em;
        grid-template-areas: "img title" "img subtitle";
    -ms-grid-columns: min-content max-content;
        grid-template-columns: -webkit-min-content -webkit-max-content;
        grid-template-columns: min-content max-content;
  }
  .intro__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    -ms-grid-column: 1;
    grid-area: img;
    min-width: 150px;
    position: relative;
    z-index: 2;
  }
  .section__title--intro {
    font-size: var(--fs-h2);
  }
  .section__subtitle--intro {
    -ms-flex-item-align: start;
        -ms-grid-row-align: start;
        align-self: start;
    grid-column: -1 / 1;
    -ms-grid-row: 2;
    grid-row: 2;
    text-align: right;
    position: relative;
    left: -1.5em;
    width: calc(100% + 1.5em);
  }
}

/* Services Section */
.my-services {
  background-color: var(--clr-dark);
  background-image: url(../img/lyricparser-background.png);
  background-size: cover;
  background-blend-mode: overlay;
  color: var(--clr-light);
  text-align: center;
}

.section__title--services {
  color: var(--clr-accent);
  position: relative;
}

.hexagon {
  background-image: url(../img/hexagon.svg);
  background-size: contain;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  width: 200px;
  height: 200px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.service__description {
  font-family: var(--ff-secondary);
}

.hexagon i {
  color: var(--clr-light);
}

@media (min-width: 800px) {
  .services {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: calc(600px + 6rem);
    gap: 3rem;
    margin-left: auto;
    margin-right: auto;
  }
}

/* About Section */
.about-me {
  position: relative;
  padding-bottom: 10em;
  width: 100%;
}

.about-me__content {
  position: relative;
  margin: 0 auto;
  max-width: 1000px;
}

.about-me__img {
  -webkit-box-shadow: var(--bs);
          box-shadow: var(--bs);
}

/* .about-me::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 5em;
    background: var(--clr-dark);
    clip-path: polygon(50% 50%, 100% 0, 100% 100%, 0 100%, 0 0);
} */
@media (min-width: 600px) {
  .about-me__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 200px;
        grid-template-columns: 1fr 200px;
        grid-template-areas: "title img" "subtitle img" "text img";
    -webkit-column-gap: 2em;
            column-gap: 2em;
  }
  .section__title--about {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: title;
  }
  .section__subtitle--about {
    grid-column: 1 / -1;
    -ms-grid-row: 2;
    grid-row: 2;
    position: relative;
    left: -1em;
    width: calc(100% + 2em);
    padding-left: 1em;
    padding-right: calc(200px + 4em);
  }
  .about-me__img {
    -ms-grid-row: 1;
    -ms-grid-row-span: 3;
    -ms-grid-column: 2;
    grid-area: img;
    position: relative;
  }
}

/* Projects Section */
.projects {
  position: relative;
  background-color: var(--clr-dark);
  color: var(--clr-light);
  text-align: center;
}

/* .projects::after {
    content: "";
    position: absolute;
    bottom: -1px;
    right: 0;
    width: 5em;
    height: 5em;
    background: var(--clr-darker);
    clip-path: polygon(100% 0, 0% 100%, 100% 100%);
} */
.portfolio {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 10rem;
}

.portfolio__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(200px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.portfolio__item {
  position: relative;
  -webkit-transition: opacity .25s ease-in;
  transition: opacity .25s ease-in;
  background: var(--clr-darker);
  overflow: hidden;
}

.portfolio__item:focus, .portfolio__item:hover {
  opacity: 1;
}

.portfolio__item:focus .portfolio__img, .portfolio__item:hover .portfolio__img {
  opacity: .1;
}

.portfolio__item:focus .portfolio__item__description,
.portfolio__item:focus .portfolio__item__button, .portfolio__item:hover .portfolio__item__description,
.portfolio__item:hover .portfolio__item__button {
  opacity: 1;
}

.portfolio__item:focus .portfolio__item__description, .portfolio__item:hover .portfolio__item__description {
  top: 30%;
}

.portfolio__item:focus .portfolio__item__button, .portfolio__item:hover .portfolio__item__button {
  bottom: 30%;
}

.portfolio__item:focus .portfolio__item__button:hover, .portfolio__item:hover .portfolio__item__button:hover {
  -webkit-transform: translateX(-50%) scale(1.1);
          transform: translateX(-50%) scale(1.1);
}

.portfolio__img {
  -webkit-transition: opacity 250ms linear;
  transition: opacity 250ms linear;
}

.portfolio__item:focus {
  position: relative;
  z-index: 2;
}

.portfolio__item__description,
.portfolio__item__button {
  position: absolute;
  left: 50%;
  opacity: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transition: all 250ms cubic-bezier(0.5, 0, 0.5, 1);
  transition: all 250ms cubic-bezier(0.5, 0, 0.5, 1);
}

.portfolio__item__description {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  top: -10%;
}

.portfolio__item__button {
  bottom: -10%;
  padding-left: 1em;
  padding-right: 1em;
}

/* Top */
.top-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  visibility: hidden;
  z-index: 1;
}

.top-button--show {
  visibility: visible;
  opacity: 1;
  -webkit-transition: opacity .25s ease-in;
  transition: opacity .25s ease-in;
}

.top-button--hide {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: visibility .25s, opacity .25s ease-out;
  transition: visibility .25s, opacity .25s ease-out;
}

/* Footer */
.footer a {
  color: inherit;
  text-decoration: none;
}

.footer__link {
  font-weight: var(--fw-bold);
  font-family: var(--ff-secondary);
  word-wrap: break-word;
}

.footer__link:hover,
.social-list__link:hover {
  opacity: .7;
}

.footer__link:hover {
  text-decoration: underline;
}

.social-list {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 2em 0 0;
  padding: 0;
}

.social-list__item {
  margin: 0 .5em;
  padding-right: .5em;
}

/* Individual portfolio item styles */
.portfolio-item-individual {
  position: relative;
  width: 100%;
  padding: 0;
  font-family: var(--ff-secondary);
}

.portfolio-item-individual__content {
  max-width: 600px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
}

.portfolio-item-individual--bottom::before {
  content: "";
  position: absolute;
  left: 0;
  top: -1px;
  width: 100%;
  height: 5em;
  background: var(--clr-light);
  -webkit-clip-path: polygon(100% 0, 50% 100%, 0 0);
          clip-path: polygon(100% 0, 50% 100%, 0 0);
}

.portfolio-item-individual--bottom {
  background: var(--clr-dark);
  color: var(--clr-light);
  padding: 6em 0;
}

.portfolio-item-individual__gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(480px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(480px, 1fr));
}

.view-site {
  margin-right: 1em;
}

@media (min-width: 800px) {
  .portfolio-item-individual__content {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  .portfolio-item-individual--bottom {
    background: var(--clr-dark);
    color: var(--clr-light);
    padding: 6em 0;
  }
}

/* Slideshow */
.slideshow {
  position: relative;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
}

.slideshow:hover .slideshow__button {
  opacity: 1;
}

.slideshow__item {
  -ms-grid-row: 1;
      grid-row-start: 1;
  -ms-grid-column: 1;
      grid-column-start: 1;
  visibility: hidden;
  -webkit-transition: .25s all ease-in-out;
  transition: .25s all ease-in-out;
  opacity: 0;
}

.slideshow__item.active {
  visibility: visible;
  opacity: 1;
}

.slideshow__button {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  outline: none;
  border: none;
  background: var(--clr-dark);
  color: var(--clr-light);
  opacity: 0;
  -webkit-transition: .25s all ease-in-out;
  transition: .25s all ease-in-out;
}

.slideshow__button:hover {
  background-color: var(--clr-accent);
}

.slideshow__button:active {
  color: #c4735d;
}

.slideshow__button--right {
  right: 0;
}

/* Modal */
.modal {
  display: none;
  position: fixed;
  z-index: 9999;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background: rgba(0, 0, 0, 0.6);
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
  -webkit-animation-duration: .5s;
          animation-duration: .5s;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modal__content {
  position: fixed;
  max-width: 80%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal__close-button {
  position: fixed;
  right: 1em;
  top: 1em;
  padding: 0;
  border: none;
  background: transparent;
  color: var(--clr-light);
}

.modal__close-button:hover {
  color: var(--clr-accent);
}

.modal__close-button:focus {
  outline: 3px solid var(--clr-accent);
}

.modal-open {
  overflow: hidden;
}

/*  ==========
    5. animations
    ============    */
.from-left,
.from-right {
  opacity: 0;
  -webkit-transition: opacity 150ms ease-in, -webkit-transform 300ms ease-in;
  transition: opacity 150ms ease-in, -webkit-transform 300ms ease-in;
  transition: opacity 150ms ease-in, transform 300ms ease-in;
  transition: opacity 150ms ease-in, transform 300ms ease-in, -webkit-transform 300ms ease-in;
}

.from-left.appear,
.from-right.appear {
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.from-left {
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.from-right {
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=style.css.map */